:root {
  --color-bg-0: #233e59;
  --color-bg-1: #392359;
  --color-bg-2: #592323;
  --color-bg-3: #235959;
  --color-bg-4: #1b4443;
  --color-bg-5: #232359;
  --color-bg-6: #592359;
  --color-bg-7: #233959;
  --color-bg-8: #595959;
  --color-bg-9: #235923;
  --color-bg-10: #592923;
  --color-bg-11: #593923;

  --color-text: #fffe;
  --color-link: #fff;
}
